<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Elizabeth Ulos</title>
        <!-- Favicon-->
        <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->
        <!-- <link rel="icon" type="image/x-icon" href="../../Tampilan_PHP_Native/gambar/REAL.jpg" /> -->
        <link rel="icon" href="logoToko.jpg">

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <style>
            .umum{
                background-color: #722D2D;
                color: white;
                border-radius: 10px;
                border: 20px solid black;
            }
            #dasbor:hover{
                color: white;
            }
        </style>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end" id="sidebar-wrapper" style="background-color: #722D2D;">
                <div class="sidebar-heading border-bottom" style="background-color: #722D2D; color: white;">ELIZABETH ULOS</div>
                <div class="list-group list-group-flush" style="background-color: #722D2D;">
                    <a class="list-group-item list-group-item-acti
                    on list-group-item-light p-3 umum" href="dasbor_admin.php" id="dasbor" style="border-radius: 10px;border: 1px solid black;">Dasbor</a>
                    <!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="tambah_produk.php">Tambah Produk</a> -->
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 umum" href="produk_admin.php" id="aksi_admin" style="border-radius: 10px;border: 1px solid black;">Produk</a>
                    <!-- <a class="list-group-item list-group-item-action list-group-item-light p-3 umum" href="produk_laris.php" id="">Produk Laris</a> -->
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 umum" href="ulasan_admin.php" id="ulasan" style="border-radius: 10px;border: 1px solid black;">Ulasan</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 umum" href="profil_owner.php" id="profil_owner" style="border-radius: 10px;border: 1px solid black;">Profil Owner</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 umum" href="../Tampilan/beranda.php" style="border-radius: 10px; border: 1px solid black;" id="halaman_website">Halaman Website</a>

                </div>
            </div>
            
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light border-bottom" style="background-color: #722D2D;">
                    <div class="container-fluid">
                        <button class="btn" id="sidebarToggle" style="background-color: #722D2D;">
                            <i class="fas fa-bars" style="color:white" ></i> <!-- Ganti dengan ikon hamburger menu -->
                          </button>
                                                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <!-- <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#!">Link</a></li> -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b style="color:white">ADMIN</b></a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="ubah_password_admin.php">Ubah Password</a>
                                        
                                        <a class="dropdown-item" href="logout.php">Logout</a>
                                        
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid" style="overflow-y: scroll;">

               
