@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
:root{
    --pink:#e84393;
    --dark:#000000;
}

*{
    font-family: 'Roboto Slab', serif;
    font-size: large;
    transition: .2s linear;
/*    text-transform: capitalize;*/
}


body{
    background-color: #f5f8ff !important;
    font-size:50%;
}

a,h1,p{
  font-size:80%;
}

h4{
    font-size: 2rem;
    color:var(--pink);
}

h4:hover{
    color:var(--dark);
}

h4 span{
    font-size: 2rem;
    color:var(--dark);
}

h4 span:hover{
    color:var(--pink);
}



/* global */
section {
    padding: 50px 0 100px;
}


/* Navigasi */

nav .logo{
    margin: 0;padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

a img{
    background-size: cover; 
    width: 70px; 
    border-radius: 50%; 
    margin-right: 10px;
    border-radius:50% ;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.navbar-nav a {
  text-decoration: none;
  padding: 10px 20px;
  color: #000000 !important;
  transition: all 0.3s ease;
}

#ulasan{
  padding: 10px 20px;
  color: white !important;
  border-radius: 10px;
  background-color: #722d2d;
  border-bottom: 4px solid rgba(214, 147, 147, 0.3) !important;
}
  
  .navbar-nav a:hover {
    padding: 10px 20px;
    color: white !important;
    border-radius: 10px;
    background-color: #722d2d;
    border-bottom: 4px solid rgba(214, 147, 147, 0.3) !important;

  }
  


.navbar-brand img{
    width: 80px;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%; /* Perbandingan aspek rasio 16:9 (56.25%) */
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* section */

.section-title {
    padding-bottom: 30px;
}
  
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #722d2d;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    border-top: 3px solid #722d2d;
    border-bottom: 3px solid #722d2d;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
  }
  
  .contact .info i {
    font-size: 20px;
    color: #722d2d;
    float: left;
    width: 44px;
    height: 44px;
    background: #47b2e4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #391111;
  }
  
  .contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #722d2d;
  }
  
  .contact .info .email p {
    padding-top: 5px;
  }
  
  .contact .info .social-links {
    padding-left: 60px;
  }
  
  .contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
  }
  
  .contact .info .social-links a:hover {
    background: #722d2d;
    color: #fff;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #722d2d;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    border-top: 3px solid #722d2d;
    border-bottom: 3px solid #722d2d;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form .form-group {
    margin-bottom: 20px;
  }
  
  .contact .php-email-form label {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #722d2d;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #722d2d;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #722d2d;
  }



/* Media */

@keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}
  
/* MEDIA */
@keyframes zoomIn {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}



@media (max-width:450px){
  html{
      font-size: 50%;
  }
  header{
      padding: 2rem;
  }
}


  @media (max-width: 576px) {
      .d-flex.flex-row.flex-lg-column {
          flex-direction: column;
      }

      .col-4.rounded-4 {
          margin-bottom: 10px;
      }
  }


  @media (max-width: 767.98px) {
    .navbar-nav {
        flex-direction: column;
        align-items: stretch;
    }
    .navbar-nav .nav-link {
        padding: 1rem 0;
        text-align: center;
        border-top: 1px solid #dee2e6;
    }
}

/* Atur ukuran konten lainnya pada tampilan mobile */
@media (max-width: 575.98px) {
    .site-title {
        font-size: 1.5rem;
    }
    .site-desc {
        font-size: 0.875rem;
    }
    .site-btn1,
    .site-btn2 {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
    }
    .card-title {
        font-size: 1rem;
    }
    .card-text {
        font-size: 0.875rem;
    }
    #heading-1 {
        font-size: 1.5rem;
    }
    #para-1 {
        font-size: 0.875rem;
    }
    .section-3 h3 {
        font-size: 1rem;
    }
    .section-3 p {
        font-size: 0.875rem;
    }
}
